---
import ServiceCard from "./ServiceCard.astro";
import ServiceCardReadMore from "./ServiceCardReadMore.astro";
---

<div class="grid grid-cols-1 max-w-sm mx-auto gap-y-8 lg:gap-y-0 lg:mx-0 lg:max-w-none lg:grid-cols-3 gap-x-8 relative">
  <ServiceCard
    icon="jam:video-camera-vintage-f"
    title="Videoproduktion"
    description="Mit unserem Service bieten wir hochwertige Filmaufnahmen, professionellen Videoschnitt und perfekt abgestimmtes Sounddesign. Egal ob ihr eure SocialMedia-Präsenz verbessern, oder eure Website ansprechender gestalten wollt, sind wir der richtige Ansprechpartner für euch."
    pos="top"
    border="top"
  />
  <ServiceCardReadMore
    icon="jam:brush"
    title="Grafikdesign"
    description="Unser Grafikdesign ist das, was euer Unternehmen und eure Botschaften auf beeindruckende Weise repräsentiert. Mithilfe kreativer Grafiken verleihen wir eurer Identität eine einzigartige Prägung. Ob es um Werbeplakate, Webseiten oder SocialMedia geht, unser Ziel ist, auf euch aufmerksam zu machen und Kunden zu gewinnen"
    pos="mid"
    border="bot"
  />
  <ServiceCard
    icon="jam:camera-f"
    title="Fotografie"
    description="Manchmal reicht ein einziger Blick, um eure Kunden zu begeistern und Produkte zu verkaufen. Unsere Aufnahmen rücken durch stimmige Farben, Perspektiven und Techniken euer Produkt in ein in ein optimales Licht und sprechen somit mehr als tausend Worte."
    pos="bot"
    border="top"
  />
  <div
    class="absolute left-[40%] top-1/2 -translate-x-1/2 -translate-y-1/2 bg-primary blur-[200px] h-[250px] aspect-square -z-10"
  >
  </div>
</div>
