---
import Heading from "../Heading.astro";
import Gallery from "./Gallery";
import MobileGallery from "./MobileGallery";

import { videos } from "../../lib/gallery";
---

<section class="text-center" id="prevwork">
  <Heading>
    <span slot="subtitle">Portfolio</span>
    Previous <span class="text-primary">Work</span>
  </Heading>
  <div class="lg:h-[60vh] max-h-[600px] relative">
    <div class="hidden lg:block">
      <Gallery videos={videos} client:media="(min-width: 1024px)" />
    </div>
    <div class="flex lg:hidden">
      <MobileGallery videos={videos} client:media="(max-width: 1024px)" />
    </div>
    <div
      class="absolute top-[60%] left-[65%] -translate-x-1/2 -translate-y-1/2 bg-primary blur-[250px] h-[250px] aspect-square rounded-full -z-10"
    >
    </div>
  </div>
</section>