---
import Heading from "../Heading.astro";
import PrimaryButton from "../PrimaryButton.astro";
import AboutImages from "./AboutImages.astro";
---

<section id="about" class="text-center pt-12">
  <Heading>
    <span slot="subtitle">About</span>
     Meet our <span class="text-primary">team</span>
  </Heading>

  <div
    class="grid grid-cols-1 justify-center lg:grid-cols-2 gap-x-8 pt-8 lg:pt-12"
  >
    <article class="text-left">
      <h3 class="font-header text-2xl lg:text-5xl text-text mb-5 leading-snug">
        Hi
      </h3>
      <p class="text-base lg:text-[22px] text-text/80 leading-normal mb-11">
        Ich bin Theo. Bereits seit über 4 Jahren bin ich in der Welt der Video- und Fotografie zuhause.
         Durch wertvolle Mentoren Habe ich nicht nur mein Können erweitert, sondern auch ein 
         starkes Netzwerk geschaffen. Als junger Unternehmer verstehe ich die essenzielle 
         Bedeutung von digitalem Marketing und bin motiviert, dein Unternehmen 
         in diesem bereich zu unterstützen.
      </p>
     
    </article>
    <AboutImages />
  </div> <PrimaryButton
        href="mailto:theo@thrivemedia.art"
        title="Send a Free Request"
      >
        Send a Free Request
      </PrimaryButton>
</section>
