---
import Heading from "../components/Heading.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Impressum / Thrive Media Solutions">
  <article class="text-text">
    <center>
      <Heading>
        <span slot="subtitle">Imprint</span>
         Unser <span class="text-primary">Impressum</span>
      </Heading>
    </center>

    <h2 class="text-2xl mt-4 mb-2 font-header">
      Angaben gem&auml;ss &sect; 5 TMG
    </h2>
    <p>
      Theo Schneidereit<br />
       Thrive Media Solutions - Theo Schneidereit (Einzelunternehmen)<br />
       Fliederkamp 7<br />
       49078 Osnabrück
    </p>

    <h2 class="text-2xl mt-4 mb-2 font-header">Kontakt</h2>
    <p>
      Telefon: +49 (0) 152 04431021<br />
       E-Mail: theo@thrivemedia.art
    </p>

    <h2 class="text-2xl mt-4 mb-2 font-header">Umsatzsteuer-ID</h2>
    <p>
      Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27a
      Umsatzsteuergesetz:<br />
       DE362770420
    </p>

    <h2 class="text-2xl mt-4 mb-2 font-header">
      Verbraucher&shy;streit&shy;beilegung <span class="font-nav">/</span>
       Universal&shy;schlichtungs&shy;stelle
    </h2>
    <p>
      Die Europäische Kommission stellt eine Plattform zur
      Online-Streitbeilegung (OS) bereit, <br />
       die Sie hier finden:
      <a
        class="text-primary"
        href="https://ec.europa.eu/consumers/odr/"
        title="Europäische Streitbeilegungsstelle"
        target="_blank">https://ec.europa.eu/consumers/odr/</a
      >. <br />
       Wir sind nicht verpflichtet und nicht bereit, an einem
      Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
      teilzunehmen.
    </p>
  </article>
</DefaultLayout>
