---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import ThriveLanding from "../components/ThriveLanding.astro";
import PreviousWork from "../components/portfolio/PreviousWorkSection.astro";
import Services from "../components/services/ServicesSection.astro";
import About from "../components/about/AboutSection.astro";
import Contact from "../components/contact/ContactSection.astro";
---

<DefaultLayout title="Thrive Media Solutions | Videoproduktion | Osnabrück">
  <!--<ThriveLanding slot="pre" />-->
  <!--<PreviousWork />
  <Services />
  <About />
  <Contact /> -->
  <div class="flex items-center justify-center grow h-full">
    <div class="text-center space-y-4">
      <h1 class="text-primary text-3xl font-header">
        We are currently rebuilding our website...
      </h1>
      <p class="text-white text-base font-body w-fit">
        Wir arbeiten derzeit daran, unsere Website vollständig neu zu gestalten,
        um Ihnen die bestmögliche Nutzererfahrung zu bieten. Bald können Sie
        sich auf eine verbesserte Website, mit vielen neuen und verbesserten
        Inhalten freuen!
      </p>
    </div>
  </div>
</DefaultLayout>
