---
import "../fonts.css";
import TheHeader from "../components/TheHeader.astro";
import ThriveLanding from "../components/ThriveLanding.astro";
import ClipSlider from "../components/ClipSlider.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-background font-body">
    <TheHeader />
    <ThriveLanding />
    <ClipSlider client:only="vue" />
  </body>
</html>
