---
import Heading from "./Heading.astro";
---

<section id="about" class="text-center">
  <Heading>
    <span slot="subtitle">About</span>
    Meet our <span class="text-primary">team</span>
  </Heading>
</section>
