---
import { Picture } from "@astrojs/image/components";
const { dir, src, title, alt } = Astro.props;
---

<div class="relative h-full w-full">
  <div
    class:list={{
      "border-2 border-primary border-solid absolute h-full w-full rounded-xl": true,
      "-top-3 -left-3": dir === "tl",
      "top-3 left-3": dir === "br",
    }}
  >
  </div>
  <Picture
    class="w-full relative mx-auto overflow-hidden drop-shadow-2xl rounded-xl"
    src={src}
    alt={alt}
    title={title}
    widths={[200, 400, 800]}
    sizes="(max-width: 800px) 100vw, 800px"
  />
</div>
