---
import ContactMethodRow from "./ContactMethodRow.astro";
---

<div class="text-left flex flex-col space-y-12 mx-auto justify-end">
  <ContactMethodRow
    icon="jam:paper-plane"
    label="Email"
    value="theo@thrivemedia.art"
    href="mailto:theo@thrivemedia.art"
  />
  <ContactMethodRow
    icon="jam:viber"
    label="Telephone"
    value="+49 152 04431021"
    href="tel:+4915204431021"
  />
</div>
