---
import Heading from "./Heading.astro";
---

<section id="contact" class="text-center">
  <Heading>
    <span slot="subtitle">Contact</span>
    Get in touch <span class="text-primary">with us</span>
  </Heading>
</section>
