---
import ContactInfo from "./ContactInfo.astro";
import Heading from "./Heading.astro";
---

<section id="contact" class="text-center">
  <Heading>
    <span slot="subtitle">Contact</span>
    Get in touch <span class="text-primary">with us</span>
  </Heading>
  <div
    class="grid grid-cols-1 items-center text-center gap-y-24 lg:gap-y-0 lg:grid-cols-2 lg:gap-x-32 pt-12"
  >
    <article class="text-left">
      <h3 class="font-header text-5xl text-text mb-5 leading-snug">
        Let's talk about everything!
      </h3>
      <p class="text-[22px] text-text/80 leading-normal">
        Haben wir ihr Interesse geweckt? <br />
        Wir laden Sie herzlich dazu ein, eine kostenlose und unverbindliche Projektanfrage
        zu senden. <br />
        Lassen Sie uns gemeinsam Ihre Ideen zum Leben erwecken.
      </p>
    </article>
    <ContactInfo />
  </div>
</section>
