---
import ClipSlider from "./ClipSlider.vue";
import Heading from "./Heading.astro";
---

<section class="my-24 text-center" id="prevwork">
  <Heading>
    <span slot="subtitle">Portfolio</span>
    Previous <span class="text-primary">Work</span>
  </Heading>
  <ClipSlider client:only="vue" />
</section>
