---
import Heading from "./Heading.astro";
import Gallery from "./Gallery";
---

<section class="text-center" id="prevwork">
  <Heading>
    <span slot="subtitle">Portfolio</span>
    Previous <span class="text-primary">Work</span>
  </Heading>
  <div class="pt-12"></div>
  <Gallery client:only />
</section>
