---
import Heading from "./Heading.astro";
import ServiceGrid from "./ServiceGrid.astro";
---

<section id="services" class="text-center flex flex-col space-y-12">
  <Heading>
    <span slot="subtitle">Services</span>
    What we <span class="text-primary">provide</span>
  </Heading>

  <ServiceGrid />
</section>
