---
import ServiceCard from "./ServiceCard.astro";
---

<div class="grid grid-cols-3 gap-x-8 relative">
  <ServiceCard
    icon="jam:video-camera-vintage-f"
    title="Videoproduction"
    description="Wir bieten einen umfassenden Service, welcher Filmaufnahmen, professionellen Videoschnitt und ansprechendes SoundDesign vereint, um ihre Botschaft optimal zu inszenieren und ihre Zielgruppe nachhaltig zu erreichen."
    pos="top"
    border="top"
  />
  <ServiceCard
    icon="jam:brush"
    title="Graphicdesign"
    description="Wir bieten kreatives Grafikdesign, für ansprechende Werbung, um Ihren Service effektiv zu vermarkten und potenzielle Kunden gezielt anzusprechen. Wir unterstützen Sie dabei, Ihre Marke visuell eindrucksvoll zu präsentieren und somit eine breitere Zielgruppe zu erreichen."
    pos="mid"
    border="bot"
  />
  <ServiceCard
    icon="jam:camera-f"
    title="Photography"
    description="Wir bieten professionelle Fotografie, maßgeschneidert für Ihre Website oder ihre SocialMedia Plattformen. Wir helfen Ihnen dabei, Ihren Service optimal zu präsentieren und ihre Kunden mit ansprechenden Bildern zu überzeugen."
    pos="bot"
    border="top"
  />
  <div
    class="absolute left-[30%] top-1/2 -translate-x-1/2 -translate-y-1/2 bg-primary blur-[200px] h-[300px] aspect-square -z-10"
  >
  </div>
</div>
