---
import Heading from "./Heading.astro";
---

<section id="services" class="text-center">
  <Heading>
    <span slot="subtitle">Services</span>
    What we <span class="text-primary">provide</span>
  </Heading>

  <div class="grid grid-cols-3 items-center"></div>
</section>
