---
import ThriveLogo from "./ThriveLogo.astro";
---

<footer class="w-full bg-secondary px-4 mt-36">
  <!-- <div
    class="grid grid-cols-4 items-center mx-auto relative py-12 max-w-screen-2xl"
  >
    <div class="flex flex-col items-start justify-between">
      <ThriveLogo />
      <p class="text-text mt-12">&copy; Theo Schneidereit 2023</p>
    </div>
    <ul>
      <li><h2>Rechtliches</h2></li>
      <li><a href="/imprint" title="Impressum" rel="prefetch-intent">Impressum</a></li>
    </ul>
    <ul></ul>
    <ul></ul>
  </div> -->
  <div
    class="flex flex-row justify-center items-center mx-auto relative py-12 max-w-screen-2xl"
  >
    <ul class="text-center">
      <li class="text-primary">&copy; Theo Schneidereit 2024</li>
      <li>
        <a class="underline text-text" href="/imprint" title="Impressum" rel="prefetch-intent">Impressum</a>
      </li>
    </ul>
  </div>
</footer>
