---
---

<header
  class="w-full bg-background fixed top-0 left-0 right-0 z-50 shadow-header transition-all duration-500 ease-in"
>
  <div
    class="grid grid-cols-3 items-center mx-auto relative py-4 max-w-screen-2xl"
  >
    <picture class="h-12 w-auto relative">
      <img src="/images/thrive-logo.png" class="max-h-full w-auto object-cover" />
    </picture>
    <nav class="place-self-center">
      <ul class="flex flex-row justify-evenly items-center space-x-6">
        <li><a class="cursor-pointer text-text hover:text-primary capitalize transition-colors duration-300 ease-in tracking-wide text-base">Home</a></li>
        <li><a class="cursor-pointer text-text hover:text-primary capitalize transition-colors duration-300 ease-in tracking-wide text-base">Services</a></li>
        <li><a class="cursor-pointer text-text hover:text-primary capitalize transition-colors duration-300 ease-in tracking-wide text-base">About</a></li>
        <li><a class="cursor-pointer text-text hover:text-primary capitalize transition-colors duration-300 ease-in tracking-wide text-base">Projects</a></li>
        <li>
          <a
            class="rounded-full border-primary border border-solid px-4 py-1.5 font-normal text-primary hover:text-background hover:bg-primary transition-colors duration-300 ease-in cursor-pointer"
          >
            Contact
          </a>
        </li>
      </ul>
    </nav>
    <ul>
        <li></li>
    </ul>
  </div>
</header>
