---
---

<section class="relative">
  <div class="absolute z-30 w-full h-full grid place-content-center text-center">
    <h1 class="uppercase font-header text-2xl lg:text-5xl text-text">Thrive Media Solutions</h1>
    <h4 class="uppercase font-body text-base lg:text-2xl text-primary pt-2 tracking-wider">We make art.</h4>
  </div>
  <img class="relative h-full min-h-[250px] object-fill" src="/images/train-movin-header.webp" />
</section>
