---
import { Image } from "astro:assets";
import movingTrain from "../assets/images/train-movin-header.webp";
---

<section class="relative">
  <div
    class="absolute z-30 w-full h-full grid place-content-center text-center"
  >
    <h1 class="uppercase font-header mx-4 mt-4 leading-7 text-2xl lg:text-5xl text-text">
      Thrive Media Solutions
    </h1>
    <span
      class="uppercase font-nav text-base lg:text-2xl text-primary pt-2 tracking-wider"
    >
      We make art.
    </span>
  </div>
  <Image
    src={movingTrain}
    alt="Moving Train"
    title="Moving Train Landing Header"
    loading="eager"
    width={movingTrain.width}
    height={movingTrain.height}
    class="h-44 object-cover lg:h-auto"
  />

  <div>
    <h1 class="text-text text-center pt-12" >
      Eure Visionen, unsere Kunst: Wir hauchen euren Idee Leben ein und halten die besten Momente für euch auf Kamera fest.
      <p>
      Von Events bis hin zu Marketingvideos - unsere Arbeit macht unvergesslich!
      </p>
    </h1>
  </div>

</section>
