---
import { Image } from "astro:assets";
import movingTrain from "../assets/images/train-movin-header.webp";
---

<section class="relative">
  <div
    class="absolute z-30 w-full h-full grid place-content-center text-center"
  >
    <h1 class="uppercase font-header text-2xl lg:text-5xl text-text">
      Thrive Media Solutions
    </h1>
    <span
      class="uppercase font-nav text-base lg:text-2xl text-primary pt-2 tracking-wider"
    >
      We make art.
    </span>
  </div>
  <Image
    src={movingTrain}
    alt="Moving Train"
    title="Moving Train Landing Header"
    loading="eager"
    width={movingTrain.width}
    height={movingTrain.height}
  />
</section>
