---
---

<section class="relative">
  <div
    class="absolute z-30 w-full h-full grid place-content-center text-center"
  >
    <h1 class="uppercase font-header text-2xl lg:text-5xl text-text">
      Thrive Media Solutions
    </h1>
    <span
      class="uppercase font-nav text-base lg:text-2xl text-primary pt-2 tracking-wider"
    >
      We make art.
    </span>
  </div>
  <img
    class="relative h-full min-h-[25vh] object-fill"
    src="/images/train-movin-header.webp"
    alt="Moving Train"
    title="Moving Train Landing Header"
  />
</section>
